<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Project-Rozetka" verbose="1" >
    <test name="ProjectRozetkaTest" >
        <classes>


            <class name="testing.TicketsTest"/>
            <class name="testing.SimilarProductsTest"/>
            <class name="testing.CompareTest"/>
            <class name="testing.CompareDifferentTest"/>
            <class name="testing.HomeWork4"/>


        </classes>
    </test>
</suite>