<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Project-Rozetka" verbose="1" >
    <test name="ProjectRozetkaTest" >
        <classes>
            <!-- class name="testing.SmokeTest"/ -->

            <class name="testing.InfantRozetkaTest"/>

            <class name="testing.FindSimilarGoods"/>
        </classes>
    </test>
</suite>